body {
  padding-top: 34px;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.mynavbar {
	background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

.mycard {
	-webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.25);
	margin-bottom: 20px;
}

.mycard img {
	border-bottom:2px solid #CCC;
}

.mycard .list-group-item i {
	font-size:22px;
}

.mycard .list-group-item a {
	color: #333;
	position: relative;
	top: -3px;
}

.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.links line {
  stroke: #000;
  stroke-opacity: 0.1;
}

.jumbotron p a {
	color: #555;
}